 <!-- Compiled and minified CSS -->

<body style="margin-left: 25%">
    
    <h2 style="color: darkslategrey;">Twój katalog miejscowości  
        <button mat-fab color="primary" style="margin-left:5%" routerLink="/addCity" routerLinkActive="active">Dodaj</button>        
    </h2>
    
   
    <div *ngFor="let city of citiesList">
       
           <mat-card style="width:25%; float: left; margin-left: 5%" >
            <mat-card-title style="text-align: center">{{city.name}}</mat-card-title>
            <img class="light" (click)="openDialog(city)" style="height:220px" [src]="city.mainImage" mat-card-image>
            <mat-card-actions style="text-align: center">
                <button mat-button>Edytuj</button>
                <button mat-button (click)= "removeCity(city.id)" >Usuń</button>
            </mat-card-actions>
            </mat-card>
     </div>

</body>

