<body style="margin-left: 25%">
    <h1>Twój katalog miejscowości</h1>

    <div *ngFor="let city of cities">
           <mat-card style="width:25%" (click)="openDialog(city)">
            <mat-card-title style="text-align: center">{{city.name}}</mat-card-title>
            <img [src]="imageToShow" mat-card-image>
            <mat-card-actions style="text-align: center">
                <button mat-button>Edytuj</button>
                <button mat-button>Usuń</button>
            </mat-card-actions>
            </mat-card>
    </div>
          
          



</body>

