<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous">

<body style="margin-left: 25%">
  <h2 style="color: darkslategrey">
    Dodaj nową miejscowość
  </h2>

  <form #f1="ngForm">
    <mat-horizontal-stepper #stepper (selectionChange)="selectionChange($event)">
      <ng-template matStepperIcon="edit">
        <i class="fa fa-check"></i>
      </ng-template>
      <mat-step [stepControl]="f1">
        <ng-template matStepLabel>Głowne informacje</ng-template>

        <mat-form-field appearance="outline">
          <mat-label>Podaj nazwę miejscowości</mat-label>

          <input matInput placeholder="Nazwa miejscowości" name="cityName" #cityName="ngModel" [(ngModel)]="city.name"
            required>
          <mat-icon matSuffix><i class="fas fa-edit fa-xs"></i> </mat-icon>
        </mat-form-field>


        <quill-editor [style]="{height: '350px'}" [placeholder]="'Tutaj wstaw ciekawy opis...'" name="cityDecription"  [(ngModel)]="city.description">
          <div quill-editor-toolbar>
            <span class="ql-formats">
              <select class="ql-header" [title]="'Styl'">
                <option selected>Normalna</option>
                <option value="3">Nagłówek 3</option>
                <option value="2">Nagłówek 2</option>
                <option value="1">Nagłówek 1</option>
              </select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold" [title]="'Pogrubiona'"></button>
              <button class="ql-italic" [title]="'Kursywa'"></button>
              <button class="ql-underline" [title]="'Podkreślenie'"></button>
              <button class="ql-list" value="ordered" [title]="'Lista posortowana'"></button>
              <button class="ql-list" value="bullet" [title]="'Lista punktowa'"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-align" [title]="'Wyrównanie'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>
          </div>
        </quill-editor>
      <button (click)="save()">Save</button>
      </mat-step>

      <mat-step [stepControl]="f1" (click)="log()">
        <ng-template matStepLabel>Dodatkowe infromacje</ng-template>

        <mat-form-field appearance="outline" class="standard-input-space">
          <mat-label>Wysokość n.p.m</mat-label>
          <input matInput placeholder="Wysokość n.p.m" name="metersAboveSeaLevel"
                                                       #metersAboveSeaLevel="ngModel" 
                                                       [(ngModel)]="city.metersAboveSeaLevel" required>
          <mat-icon matSuffix><i class="fas fa-mountain fa-xs"></i> </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Liczba mieszkańców</mat-label>
          <input matInput placeholder="Liczba mieszkańców" name="population" 
                                                           #population="ngModel" 
                                                           [(ngModel)]="city.population" required>
          <mat-icon matSuffix><i class="fas fa-users fa-xs"></i> </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="standard-input-space">
          <mat-label>Powierzchnia (w km<sup>2</sup>)</mat-label>
          <input matInput placeholder="Powierzchnia" name="area"
                                                     #area="ngModel" 
                                                     [(ngModel)]="city.area" required>

          <mat-icon matSuffix> <i class="fas fa-map fa-xs"></i> </mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Gęstość zaludnienia (w os/km<sup>2</sup>)</mat-label>
          <input matInput placeholder="Gęstość zaludnienia" name="populationDensity" 
                                                            #populationDensity="ngModel" 
                                                            [(ngModel)]="city.populationDensity"
            required>
          <mat-icon matSuffix><i class="fas fa-users fa-xs"></i> </mat-icon>
        </mat-form-field>

        <mat-divider></mat-divider>
        <br>
        <span style="position: relative;">
          <mat-label>Koordynaty (ustawianie: {{this.city.name}})</mat-label>
          <br>
          <mat-label style="font-size: 70%">Jeśli błędne lub nie znaleziono, wprowadź nowe wartośći: </mat-label>
          <br>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Długość geograficzna</mat-label>
            <input matInput placeholder="Długość geograficzna" name="longitude" #wojName="ngModel" [(ngModel)]="longitude"
              required>
            <mat-icon matSuffix><i class="fas fa-users fa-xs"></i> </mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Szerokość geograficzna</mat-label>
            <input matInput placeholder="Szerokość geograficzna" name="latitude" #wojName="ngModel" [(ngModel)]="latitude"
              required>
            <mat-icon matSuffix><i class="fas fa-users fa-xs"></i> </mat-icon>
          </mat-form-field>
        </span>
        <span style="float:right; margin-top: -13%">
          <div id="map"></div>
        </span>



      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Zdjęcie</ng-template>
        <mat-label>Wybierz głowne zdjęcie przedstawiające miejscowość z jak najlepszej strony!</mat-label>
        <image-upload [url]="'https://localhost:5001/api/photo/add'"
                      [buttonCaption]="'Wybierz zdjęcie'"
                      [dropBoxMessage]="'Lub przeciągnij je tutaj'"
                      [clearButtonCaption]="'Wyczyść'"
                      [style]="customStyle"
                      [max]="10"
                      > 
        </image-upload>
        <br>
      <mat-label>Wybierz zdjęcie herbu miejscowości</mat-label>
      <image-upload [url]="'https://localhost:5001/api/photo/add'"
                      [buttonCaption]="'Wybierz zdjęcie'"
                      [dropBoxMessage]="'Lub przeciągnij je tutaj'"
                      [clearButtonCaption]="'Wyczyść'"
                      [style]="customStyle"
                      [max]="10"
                       > 
      </image-upload>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Gotowe</ng-template>
        Czy chcesz zatwierdzić zmiany?
        <div>
          <button mat-button (click)="submit()">Tak</button>
          <button mat-button (click)="stepper.reset()">Zresetuj</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>

</body>