<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
  crossorigin="anonymous">
<mat-toolbar class="mat-elevation-z7" style="z-index: 100 !important" >
  <span class="logo"  routerLink="" routerLinkActive="active" > <h1>Piechur.pl</h1></span>
  <span class="fill-small-space"></span>
  <span class="fill-small-space"></span>
  <button mat-icon-button><i class="fa fa-search fa-lg"></i></button>
  <mat-form-field>
    <input matInput placeholder="Miejscowość">
  </mat-form-field>
  <span class="fill-space"></span>
  <button mat-button  [matMenuTriggerFor]="menu2">Moje oferty </button>
  <button mat-button [matMenuTriggerFor]="menu">Mój Katalog</button>
  <span style="margin-right:4%"></span>
  <div style="font-size: 14px; margin-right: 2%; font-style: italic">Witaj, Sławku.</div>
  <button mat-icon-button><i class="fa fa-bell fa-lg"></i></button>
  <button mat-icon-button><i class="fa fa-calendar fa-lg"></i></button>
  <button mat-icon-button><i class="fa fa-user fa-lg"></i></button>
  
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/listCity" routerLinkActive="active">Moje miejsca</button>
    <button mat-menu-item routerLink="/listAccd" routerLinkActive="active">Moje zakwaterowania</button>
    <button mat-menu-item routerLink="/listAttr" routerLinkActive="active">Moje atrakcje</button>
  </mat-menu>

  <mat-menu #menu2="matMenu">
      <button mat-menu-item routerLink="/addOffert" routerLinkActive="active">Stwórz ofertę</button>
      <button mat-menu-item routerLink="/offertList" routerLinkActive="active">Moje oferty</button>
  </mat-menu>
</mat-toolbar>

<br>
<br>
<br>
<br>

<mat-accordion [multi]="true"  [displayMode]="flat" (openAll)="openAll()">
    <mat-expansion-panel  [expanded]="true">
        <mat-expansion-panel-header>
          <b>Pogoda</b>
        </mat-expansion-panel-header> 
        Kraków <br>
        <table>
          <tr>
            <td>Pn</td>
            <td>Wt</td>
            <td>Śr</td>
            <td>Czw</td>
          </tr>
          <tr>
            <td><i class="fas fa-cloud-sun fa-2x"></i></td>
            <td><i class="far fa-snowflake fa-2x"></i></td>
            <td><i class="far fa-snowflake fa-2x"></i></td>
            <td><i class="fas fa-cloud-sun fa-2x"></i></td>
          </tr>
          <tr>
            <td>0 &#8451; </td>
            <td>-1 &#8451;</td>
            <td>-3 &#8451; </td>
            <td>-6 &#8451; </td>
          </tr>
        </table>   
        <br>
        Warszawa <br>
        <table>
          <tr>
            <td>Pn</td>
            <td>Wt</td>
            <td>Śr</td>
            <td>Czw</td>
          </tr>
          <tr>
            <td><i class="fas fa-cloud-sun fa-2x"></i></td>
            <td><i class="fas fa-cloud-sun fa-2x"></i></td>
            <td><i class="far fa-snowflake fa-2x"></i></td>
            <td><i class="fas fa-cloud-sun fa-2x"></i></td>
          </tr>
          <tr>
            <td>1 &#8451; </td>
            <td>0 &#8451;</td>
            <td>-2 &#8451; </td>
            <td>-3 &#8451; </td>
          </tr>
        </table>
      </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
       <b>Dodatkowe Informacje</b> 
      </mat-expansion-panel-header>
      Liczba zarejestrowanych użytkowników: 1 <br>
      Liczba zalogowanych użytkowników: 1 <br>
      Goście: 1 <br>
    </mat-expansion-panel>
 
  </mat-accordion>


